USE [Pharma]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 15/06/2025 11:05:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 15/06/2025 11:05:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[subject] [nvarchar](200) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[admin_reply] [nvarchar](max) NULL,
	[replied_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 15/06/2025 11:05:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[total_price] [decimal](12, 2) NOT NULL,
	[status] [nvarchar](20) NULL,
	[recipient_name] [nvarchar](50) NULL,
	[recipient_phone] [varchar](20) NOT NULL,
	[shipping_address] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 15/06/2025 11:05:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 15/06/2025 11:05:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[method] [nvarchar](20) NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[paid_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 15/06/2025 11:05:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[stock] [int] NOT NULL,
	[prescription_required] [bit] NULL,
	[category_id] [int] NULL,
	[created_at] [datetime] NULL,
	[image_url] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 15/06/2025 11:05:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[product_id] [int] NULL,
	[rating] [int] NOT NULL,
	[comment] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 15/06/2025 11:05:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[full_name] [nvarchar](50) NULL,
	[email] [varchar](100) NOT NULL,
	[role] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [name], [description]) VALUES (1, N'Thuốc kê đơn', N'Thuốc theo đơn bác sĩ với chất lượng đảm bảo')
INSERT [dbo].[Category] ([id], [name], [description]) VALUES (2, N'Chăm sóc sức khỏe', N'Sản phẩm hỗ trợ sức khỏe và dinh dưỡng')
INSERT [dbo].[Category] ([id], [name], [description]) VALUES (3, N'Mẹ và bé', N'Sản phẩm chăm sóc cho mẹ và trẻ em')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([id], [user_id], [name], [email], [subject], [message], [status], [created_at], [admin_reply], [replied_at]) VALUES (1, NULL, N'Nguyễn Văn Long', N'longpro03@gmail.com', N'Thắc mắc về sản phẩm', N'Đau bụng quá', N'Chưa phản hồi', CAST(N'2025-06-14T18:18:33.983' AS DateTime), NULL, NULL)
INSERT [dbo].[Contact] ([id], [user_id], [name], [email], [subject], [message], [status], [created_at], [admin_reply], [replied_at]) VALUES (2, 7, N'Nguyễn Văn Long', N'longkovipb52@gmail.com', N'Hợp tác kinh doanh', N'Đau bụng quá', N'Chưa phản hồi', CAST(N'2025-06-14T18:20:23.320' AS DateTime), NULL, NULL)
INSERT [dbo].[Contact] ([id], [user_id], [name], [email], [subject], [message], [status], [created_at], [admin_reply], [replied_at]) VALUES (3, 7, N'Nguyễn Văn Long', N'longkovipb52@gmail.com', N'Hợp tác kinh doanh', N'Ăn cơm chưa', N'Chưa phản hồi', CAST(N'2025-06-14T22:55:21.487' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([id], [user_id], [total_price], [status], [recipient_name], [recipient_phone], [shipping_address], [created_at]) VALUES (3004, 7, CAST(325000.00 AS Decimal(12, 2)), N'Đã hủy', N'Nguyễn Văn Long', N'0367547809', N'Bu Dang', CAST(N'2025-06-14T11:02:49.887' AS DateTime))
INSERT [dbo].[Order] ([id], [user_id], [total_price], [status], [recipient_name], [recipient_phone], [shipping_address], [created_at]) VALUES (3005, 10, CAST(1225000.00 AS Decimal(12, 2)), N'Đã hủy', N'nguyen van test', N'0123456789', N'Binh Duong', CAST(N'2025-06-14T12:03:38.133' AS DateTime))
INSERT [dbo].[Order] ([id], [user_id], [total_price], [status], [recipient_name], [recipient_phone], [shipping_address], [created_at]) VALUES (3006, 7, CAST(120000.00 AS Decimal(12, 2)), N'Đã hủy', N'Nguyễn Văn Long', N'0367547809', N'dddddd', CAST(N'2025-06-14T12:52:24.270' AS DateTime))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([id], [order_id], [product_id], [quantity], [unit_price]) VALUES (3008, 3004, 5, 5, CAST(65000.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItem] ([id], [order_id], [product_id], [quantity], [unit_price]) VALUES (3009, 3005, 4, 5, CAST(245000.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItem] ([id], [order_id], [product_id], [quantity], [unit_price]) VALUES (3010, 3006, 12, 1, CAST(120000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([id], [order_id], [method], [amount], [paid_at]) VALUES (3001, 3004, N'momo', CAST(325000.00 AS Decimal(12, 2)), CAST(N'2025-06-14T11:02:50.210' AS DateTime))
INSERT [dbo].[Payment] ([id], [order_id], [method], [amount], [paid_at]) VALUES (3002, 3005, N'cod', CAST(1225000.00 AS Decimal(12, 2)), NULL)
INSERT [dbo].[Payment] ([id], [order_id], [method], [amount], [paid_at]) VALUES (3003, 3006, N'cod', CAST(120000.00 AS Decimal(12, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [name], [description], [price], [stock], [prescription_required], [category_id], [created_at], [image_url]) VALUES (1, N'Paracetamol 500mg', N'Thuốc giảm đau, hạ sốt hiệu quả', CAST(15000.00 AS Decimal(10, 2)), 94, 0, 1, CAST(N'2025-06-11T22:44:30.040' AS DateTime), N'04.jpg')
INSERT [dbo].[Product] ([id], [name], [description], [price], [stock], [prescription_required], [category_id], [created_at], [image_url]) VALUES (2, N'Vitamin C 1000mg', N'Vitamin C tăng cường sức đề kháng', CAST(120000.00 AS Decimal(10, 2)), 44, 0, 4, CAST(N'2025-06-11T22:44:30.040' AS DateTime), N'0606_BDKHsuckhoeconnguoi1.jpg')
INSERT [dbo].[Product] ([id], [name], [description], [price], [stock], [prescription_required], [category_id], [created_at], [image_url]) VALUES (3, N'Siro ho Prospan', N'Siro ho từ thảo dược tự nhiên', CAST(85000.00 AS Decimal(10, 2)), 25, 1, 1, CAST(N'2025-06-11T22:44:30.040' AS DateTime), N'2(1).png')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([id], [user_id], [product_id], [rating], [comment], [created_at], [status]) VALUES (14, 7, 4, 5, N'Rất tốt, công hiệu ngon', CAST(N'2025-06-15T10:21:28.043' AS DateTime), N'pending')
INSERT [dbo].[Review] ([id], [user_id], [product_id], [rating], [comment], [created_at], [status]) VALUES (16, 7, 12, 5, N'Rất hài lòng về sản phẩm ok', CAST(N'2025-06-15T10:22:12.747' AS DateTime), N'approved')
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id], [username], [password], [full_name], [email], [role], [created_at]) VALUES (1, N'admin', N'123456', N'Quản trị viên', N'admin@pharmaplus.vn', N'admin', CAST(N'2025-06-11T22:44:30.047' AS DateTime))
INSERT [dbo].[User] ([id], [username], [password], [full_name], [email], [role], [created_at]) VALUES (3, N'user2', N'123456', N'Trần Thị Bình', N'user2@email.com', N'customer', CAST(N'2025-06-11T22:44:30.047' AS DateTime))
INSERT [dbo].[User] ([id], [username], [password], [full_name], [email], [role], [created_at]) VALUES (4, N'user3', N'123456', N'Lê Văn Cường', N'user3@email.com', N'customer', CAST(N'2025-06-11T22:44:30.047' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Category_name]    Script Date: 15/06/2025 11:05:37 SA ******/
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [UQ_Category_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UC_Review_User_Product]    Script Date: 15/06/2025 11:05:37 SA ******/
ALTER TABLE [dbo].[Review] ADD  CONSTRAINT [UC_Review_User_Product] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__AB6E616403C92BFB]    Script Date: 15/06/2025 11:05:37 SA ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__F3DBC572A66F5F93]    Script Date: 15/06/2025 11:05:37 SA ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contact] ADD  DEFAULT (N'Chưa phản hồi') FOR [status]
GO
ALTER TABLE [dbo].[Contact] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF__Order__status__36B12243]  DEFAULT ('Chua x? lý') FOR [status]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [paid_at]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [prescription_required]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT ('Chua x? lý') FOR [status]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('customer') FOR [role]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Contact]  WITH CHECK ADD  CONSTRAINT [FK_Contact_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Contact] CHECK CONSTRAINT [FK_Contact_User]
GO
ALTER TABLE [dbo].[Order]  WITH NOCHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[OrderItem]  WITH NOCHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[OrderItem]  WITH NOCHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Payment]  WITH NOCHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Review]  WITH NOCHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Review]  WITH NOCHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Review]  WITH NOCHECK ADD  CONSTRAINT [CK_Review_Rating] CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [CK_Review_Rating]
GO
